.pdf-container {
    width: 100%;
}

.pdf{
}

.pdf canvas {
    width: 100%;
}

.container {
    max-width: 100%;
}

.has-height-50 {
    height: 100%!important;
}

.is-4 {
    display: flex;
    justify-content: center;
}

.btn-download {
    display: block;
    width: 50%;
    background-color: #0a0a0a;
    border: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.a-btn-download {
    color: white;
}